
<nav class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <a class="navbar-brand col-xs-1" ng-href="#/user/{{model.userId}}/course">
      <span class="glyphicon glyphicon-chevron-left white-text" aria-hidden="true"></span>
    </a>
    <div class="navbar-white-text col-xs-11"> My Grade
    </div>
  </div>
</nav>

<ul class="content-list container">
  <li ng-repeat="grade in model.grades" class="row list-item list-item-large-padding">
    <div class="col-xs-2 grade-text">
      {{grade.letterGrade}}
    </div>
    <div class="col-xs-10 grade-name large-text">{{grade.courseName}}</div>
  </li>
</ul>

<nav class="navbar navbar-default navbar-blue navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right pull-right">
      <li>
        <a class="navbar-link" href="#/user/{{model.userId}}">
          <span class="glyphicon glyphicon-user white-text" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>



