
<nav class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <div class="navbar-white-text col-xs-11"> Brand
      <a class="navbar-link pull-right right-navbar-link" ng-click="model.updateUser()" href="">
        <span class="glyphicon glyphicon-ok navbar-ok white-text" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>


<div class="container">
  <h1>Welcome {{model.user.username}}</h1>

  {{model.user}}

  <a class="btn btn-primary btn-block"
  ng-href="#/user/{{model.userId}}/website">My Course</a>
  <a class="btn btn-primary btn-block"
  ng-href="#/user/{{model.userId}}/website">My Grades</a>
  <a class="btn btn-primary btn-block"
  ng-href="#/user/{{model.userId}}/profile">Profile</a>
  <a class="btn btn-primary btn-block"
  ng-href="#/user/{{model.userId}}/website">Course Registration</a>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row navbar-text">
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-star"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-heart"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

