
<nav class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <a class="navbar-brand col-xs-1" ng-href="#/user/{{model.userId}}/course">
      <span class="glyphicon glyphicon-chevron-left white-text" aria-hidden="true"></span>
    </a>
    <div class="navbar-white-text col-xs-11"> Blackboard
    </div>
  </div>
</nav>

<div ng-show="model.success" class="alert alert-success" role="alert">
  {{model.success}}
</div>

<div ng-show="model.error" class="alert alert-danger" role="alert">
  {{model.error}}
</div>


<ul class="content-list container" ng-show="model.user.type == 'faculty'">
  <label style="font-size: 2.5rem;">Students Enrolled</label>
  <li ng-repeat="student in model.allinClass" class="row list-item">
    <div href="" class="col-xs-8"><div class="list-name">{{student.firstName}} {{student.lastName}}</div></div>
    <div class="col-xs-2"><input class="form-control" ng-model="student.gradeLetter" value="student.gradeLetter" type="text" id="last-name" placeholder="Enter Letter Grade"> </div>
    
    <div class="col-xs-2"><a class="btn btn-primary btn-block" ng-click="model.createGrade(student, student.gradeLetter)"> Assign Score </a></div>
    
  </li>
</ul>

<ul class="content-list container" ng-show="model.user.type == 'student'">
  <label style="font-size: 2.5rem;">Students Enrolled</label>
  <li ng-repeat="student in model.allinClass" class="row list-item">
    <div class="col-xs-12 list-name">{{student.firstName}} {{student.lastName}}</div>
  </li>
</ul>

<div class="form-group container discussion-board">
  <label for="disscussionboard" style="font-size: 2.5rem;">Disscussion Board</label>
  <textarea ng-model="model.post.comment" rows="5" cols="10" class="form-control" placeholder="Leave your comment here."></textarea>
  <a class="btn btn-primary btn-block" ng-click="model.createPost(model.post)"> Comment </a>
</div>

<ul class="content-list container" style="margin-bottom: 8rem;">
  <li ng-repeat="post in model.allpost" class="col-xs-12 comment-list-item">
    <div class="col-xs-7">
      <div class="comment-name">{{post.username}}</div>
      <div class="comment-content">{{post.comment}}</div>
    </div>
    <a class="btn btn-danger btn-block pull-right col-xs-5" ng-click="model.deletePost(post._id)" style="width:20%" ng-show="post.userId == post.currentId">Delete</a>

  </li>
</ul>


<nav class="navbar navbar-default navbar-blue navbar-fixed-bottom">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-right pull-right">
      <li>
        <a class="navbar-link" href="#/user/{{model.userId}}">
          <span class="glyphicon glyphicon-user white-text" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>



