<nav class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <a class="navbar-brand col-xs-1" ng-href="#/user/{{model.userId}}">
      <span class="glyphicon glyphicon-chevron-left white-text" aria-hidden="true"></span>
    </a>
    <div class="navbar-white-text col-xs-11"> All Courses
    </div>
  </div>
</nav>

<ul class="content-list container">
  <li ng-repeat="course in model.courses" class="row">
    <a href="#/user/{{model.userId}}/course/{{course._id}}/details" class="col-xs-11">
      {{course.name}}-{{course.sectionNum}}
    </a>
  </li>
</ul>

