
<nav class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <a class="navbar-brand col-xs-1" ng-href="#/user/{{model.userId}}">
      <span class="glyphicon glyphicon-chevron-left white-text" aria-hidden="true"></span>
    </a>
    <div ng-show="model.user.type == 'faculty'" class="navbar-white-text col-xs-11"> Teaching Courses
      <a class="navbar-link pull-right right-navbar-link" ng-href="#/user/{{model.userId}}/course/new">
        <span class="gglyphicon glyphicon-plus navbar-plus white-text" aria-hidden="true"></span>
      </a>
    </div>

    <div ng-show="model.user.type == 'student'" class="navbar-white-text col-xs-11"> My Courses
    </div>
  </div>
</nav>

<ul class="content-list container" ng-show="model.user.type == 'faculty'">
  <li ng-repeat="course in model.courses" class="row">
    <a href="#/user/{{model.userId}}/course/{{course._id}}/social" class="col-xs-11">
      {{course.name}}-{{course.sectionNum}}
    </a>
    <a href="#/user/{{model.userId}}/course/{{course._id}}" class="text-right col-xs-1">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
  </li>
</ul>

<ul class="content-list container" ng-show="model.user.type == 'student'">
  <li ng-repeat="course in model.user.courseTake" class="row">
    <a href="#/user/{{model.userId}}/course/{{course._id}}/social" class="col-xs-11">
      {{course.name}}-{{course.sectionNum}}
    </a>
  </li>
</ul>




