<nav class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <a class="navbar-brand col-xs-1" ng-href="#/user/{{model.userId}}/course/all">
      <span class="glyphicon glyphicon-chevron-left white-text" aria-hidden="true"></span>
    </a>
    <div class="navbar-white-text col-xs-11"> Course Details
    </div>
  </div>
</nav>

<div class="container">
  <form>
    <div class="form-group item-section">
      <label for="coursename">Course Name</label>
      <p>{{model.course.name}} </p>
    </div>
    <div class="form-group item-section">
      <label for="course-description">Section#</label>
      <p> {{model.course.sectionNum}} </p>
    </div>
    <div class="form-group item-section">
      <label for="course-description">Instructor Name</label>
      <p> {{model.course.instructor}} </p>
    </div>
    <div class="form-group item-section">
      <label for="course-description">Instructor Email</label>
      <p> {{model.course.instructoremail}} </p>
    </div>
    <div class="form-group item-section">
      <label for="course-description">Day and Time</label>
      <p> {{model.course.date}} </p>
    </div>
    <div class="form-group item-section">
      <label for="course-description">Course Description</label>
      <p> {{model.course.description}} </p>
    </div>
  </form>

  <span ng-show="model.user.type == 'student'">
    <a class="btn btn-primary btn-block"
    ng-click="model.addClass(course)">Register Class</a>
    <a class="btn btn-primary btn-block"
    ng-click="model.dropClass(course)" ng-show="model.haveClass(course)">Drop Class</a>
  </span>
</div>

