

<nav class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <span class="navbar-brand navbar-default navbar-blue ">
      <a href="#/user/{{model.userId}}">
        <span class="glyphicon glyphicon-chevron-left pull-left"></span>
      </a>
    </span>
    <div class="logo pull-left">
      <img src="vendor/images/logo.png" style="height: 50px;">
    </div>
  </div>
</nav>



<div class="container container-margin">
  <div class="col-xs-12 col-md-6">
    <img src="../../../vendor/images/login.jpg" style="width:100%;">
  </div>
  <div class="col-xs-12 col-md-6">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
      {{model.error}}
    </div>

    <h1>Login</h1>

    <input ng-model="model.user.username" type="text"
    class="form-control" placeholder="username"/>
    <input ng-model="model.user.password" type="password"
    class="form-control" placeholder="password"/>

    <a class="btn btn-primary btn-block" ng-click="model.login(model.user)">
      Login
    </a>
    <a class="btn btn-primary btn-block" href="#/register">
      Register
    </a>
  </div>
</div>


