
<nav class="navbar navbar-default navbar-blue navbar-fixed-top">
  <div class="container-fluid col-xs-12">
    <span class="navbar-brand navbar-default navbar-blue">
      <a href="#/user/{{model.userId}}">
           <span class="glyphicon glyphicon-chevron-left pull-left"></span>
      </a>
    </span>
    <div class="navbar-white-text col-xs-11"> Profile
      
      <a class="navbar-link pull-right right-navbar-link" ng-click="model.updateUser()" href="">
        <span class="glyphicon glyphicon-ok navbar-ok white-text" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid col-xs-12">
  <div class="navbar-white-text col-xs-11">
    <a class="navbar-link pull-right right-navbar-link btn btn-danger" href="#/login">
    Logout
    </a>
  </div>
</div>



<div class="container">
  <h1>Profile</h1>
  <form>
    <div class="form-group">
      <label for="username">Welcome: {{model.user.username}}</label>
    </div>  
    <div class="form-group">
      <label for="first-name">First Name</label>
      <input ng-model="model.user.firstName" type="text" class="form-control" id="first-name" placeholder="Enter your first name">
    </div>
    <div class="form-group">
      <label for="last-name">Last Name</label>
      <input ng-model="model.user.lastName" type="text" class="form-control" id="last-name" placeholder="Enter your last name">
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input ng-model="model.user.email" type="email" class="form-control" id="email" placeholder="example@example.com">
    </div>
    <div class="form-group">
      <label for="last-name">Address</label>
      <input ng-model="model.user.address" type="text" class="form-control" id="last-name" placeholder="Enter your address">
    </div>
  </form>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom navbar-blue">
  <div class="container">
    <div class="row navbar-text">
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-star"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-heart"></span>
        </a>
      </div>
    </div>
  </div>
</nav>

